.container-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}


.pokedex-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}


.pokemon-foto {
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 2px solid #007bff;
    vertical-align: middle;
}

.pokemon-foto img {
    width: 250px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}


td {
    padding: 10px 25px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr:last-child td {
    border-bottom: none;
}

.btn-reload-pokemon {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-reload-pokemon:hover {
    background-color: #0056b3;
}