body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
    margin: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.libros-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.libros-list li {
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.container h1 {
    margin-bottom: 1em;
    font-size: 2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    align-self: center;
}

.btn-ver-usuarios {
    align-self: start;
}

.btn-volver a {
    margin-top: 1em;
}